<div class="align-items-center" style="background-position: center; background-size: cover; height: 200px; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://assets.justinmind.com/wp-content/uploads/2019/09/flat-website-ui-design-history-principles-examples.png')">

  <div class="d-flex justify-content-between  p-2 ">
      <%= link_to "Simple Airbnb", flats_path, class: "fs-1 text-decoration-none text-primary btn" %>
      <div class="">
        <div class="d-flex">
          <form class="d-flex">
            <input class="form-control m-2" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
            <button class="btn btn-success p-0" type="submit">Search</button>
          </form>
        </div>
      </div>
      <%= link_to "Add Flat", new_flat_path, class: "btn btn-primary p-2" %>
  </div>
</div>

<div class="container d-flex flex-wrap justify-content-evently bg-light">
  <% @flats.each do |flat| %>
    <div class="card m-2 p-2 w-25 bg-opacity-25">
      <img class="h-50"src=<%= flat.picture_url %> alt="imagen" >
      <p><strong><%= flat.name %></strong></p>
      <p><%= flat.address %></p>
      <p><%= flat.price_per_night %>€</p>
      <p><%= flat.number_of_guests %></p>
      <div class="d-flex justify-content-between bg-light">
        <%= link_to "More info", flat_path(flat), class: "btn  text-decoration-none p-1" %>
        <%= link_to "Edit flat", edit_flat_path(flat), class: "btn text-decoration-none p-1" %>
        <%= link_to "Delete",
        flat_path(flat),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn  text-decoration-none p-1"
        %>
      </div>
    </div>
  <% end %>
</div>
